/* 
Decription: stylesheet for project01 (Udacity Front end developement)  
Author: Abdul Muqtadir 
*/ 

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-weight: 100; 
}
.main {

    margin-top: 10px; 
}

.work-title {

    text-align: left; 
}

h1 {

    margin-top: 20px; 
    font-size: 5vh; 
    text-transform: uppercase; 
    text-align: right; 
}

h2 {

    margin-top: 10px; 
    font-size: 4vh;
    text-transform: uppercase; 
    text-align: right; 
}

h3 {

    margin-top: 20px; 
    font-size: 3vh;
    text-transform: uppercase; 
    text-align: center; 
}

h4 {

    margin-top: 20px; 
    font-size: 2vh;
    text-transform: uppercase; 
    text-align: center; 
}

.primary-color {

    color: #02b3e4; 
}
.secondary-color {

    color: #2d3c49; 
}
.bg-color {

    color: #7d97ad; 
}

#logo {

    height: 150px; 
    width: 150px;
}

#banner {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
}

.img-res {

    display: block;
    max-width: 100%;
    height: auto;    
}

header {

     border-bottom: 2px solid #2d3c49; 
}

footer {

    background-color: #2d3c49; 
    color: #fff; 
}

@media screen and (max-width: 768px) {

    .title {

        text-transform: uppercase; 
        font-size: 4vh; 
    }
    .profession {

        text-transform: uppercase; 
        font-size: 2vh; 
    }
   #logo {

        width: 150px; 
        height: 150px;
        text-align: center; 
    }
  }

  @media screen and (max-width: 640px) {
  
    .title {

        text-transform: uppercase; 
        font-size: 4vh; 
        text-align: center; 
    }
    .profession {

        text-transform: uppercase; 
        font-size: 2vh; 
        text-align: center; 
    }
   #logo {

        width: 150px; 
        height: 150px;
        text-align: center; 
    }
  }
  
  @media screen and (max-width: 360px) {
    .title {

        text-transform: uppercase; 
        font-size: 5vh; 
        text-align: center; 
    }
    .profession {

        text-transform: uppercase; 
        font-size: 4vh; 
        text-align: center; 
    }

   #logo {

        width: 80px; 
        height: 80px;
        text-align: center; 
    }
    
  }
  